---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
IndentWidth:     4
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveDeclarations: false
...

